.gpt3--brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gpt3--brand div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 9.375rem;
  min-width: 7.5rem;
  margin: 1rem;
}

@media screen and (max-width: 34.375rem) {
  .gpt3--brand {
    gap: 1rem;
  }
}
