.gpt3--brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gpt3--brand div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 9.375rem;
  min-width: 7.5rem;
  margin: 1rem;
}
