.gpt3--footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 6rem 1rem 6rem;
}

.gpt3--footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.gpt3--footer-heading h1 {
  font-family: var(--font-family);
  font-size: 3.875rem;
  line-height: 4.6875rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  text-align: center;
}

.gpt3--footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3--footer-btn p {
  font-family: var(--font-family);
  font-size: 1.125rem;
  color: #fff;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.gpt3--footer-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin-top: 10rem;
}

.gpt3--footer-links div {
  width: 250px;
  margin: 1rem;
}

.gpt3--footer-links-logo {
  display: flex;
  flex-direction: column;
}
.gpt3--footer-links-logo img {
  width: 120px;
  height: 30px;
  margin-bottom: 1rem;
}

.gpt3--footer-links-logo p {
  color: #ffffff;
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.gpt3--footer-links-div {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: var(--font-family);
  font-size: 0.75rem;
}
.gpt3--footer-links-div h4 {
  font-size: 0.85rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.gpt3--footer-links-div p:not(:last-child) {
  margin-bottom: 1rem;
}

.gpt3--footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.gpt3--footer-copyright p {
  font-family: var(--font-family);
  font-size: 0.75rem;
  color: #fff;
}

@media screen and (max-width: 43.75rem) {
  .gpt3--footer {
    padding: 4rem 4rem 1rem 4rem;
  }
  .gpt3--footer-heading h1 {
    font-size: 2.875rem;
    line-height: 3.25rem;
  }
  .gpt3--footer-links {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 34.375rem) {
  .gpt3--footer {
    padding: 2rem 2rem 0.5rem 2rem;
  }
  .gpt3--footer-heading h1 {
    font-size: 2.125rem;
    line-height: 2.625rem;
  }
  .gpt3--footer-btn p {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  .gpt3--footer-links div {
    margin: 1rem 0;
  }
}
